<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119947379250-1bisfc4st0srheld5qnav2m50tpbafai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119947379250-1bisfc4st0srheld5qnav2m50tpbafai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>119947379250-15v69g7tnnftjhvv0l64lquf9sv5mqmk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOgQrrTafHHsbb_17nc3dBkQZH_fR3dT0</string>
	<key>GCM_SENDER_ID</key>
	<string>119947379250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petsworld.shop</string>
	<key>PROJECT_ID</key>
	<string>pet-shop-app-ee6f2</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-shop-app-ee6f2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119947379250:ios:6e48339ab9fb7ab8a7722b</string>
</dict>
</plist>